@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    /* font-family: "Open Sans", serif; */
    font-family: "Poppins", serif;
    color: rgb(0, 37, 46);
    /* background-color: hsl(207, 100%, 98%); */
}

.header-div, main, footer {
    max-width: 1536px;
    margin-inline: auto;
}

header, main, .footer-div {
    padding-inline: 20px;
}

.community-section, .community-photo-n-count-section, .community-build-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 40px;
}

.header-btn {
    background-color: hsla(210, 100%, 98%, 0.5);
    border: 2px solid hsl(321, 100%, 78%);
    color: hsl(322, 100%, 66%);
    padding: 8px 28px;
    border-radius: 30px;
    font-size: 16px;
    box-shadow: 0 0 2px 2px rgba(125, 125, 125, 0.2);
}

.community-section {
    text-align: center;
    padding-top: 120px;
    background-color: hsla(210, 100%, 98%, 0.5)
}

.community-section h1 {
   font-size: 48px;
   margin: 0;
}

.community-section p {
    max-width: 600px;
    font-size: 18px;
    margin-bottom: 50px;
}

.btn {
    font-family: "Open Sans", serif;
    background-color: hsl(322, 100%, 66%);
    border: none;
    color: white;
    padding: 30px 100px;
    font-size: 20px;
    font-weight: 700;
    font-style: inherit;
    border-radius: 80px;
    box-shadow: 0 5px 5px 5px rgba(125, 125, 125, 0.2);
    margin-bottom: 100px;
}

.img-div img {
    width: 100%;
}

.community-count-section {
    font-family: "Open Sans", serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 90px;
    width: 100%;
    max-width: 1035px;
    margin-bottom: 100px
}

.community-count-div {
    background-color: hsla(210, 100%, 98%, 0.5);
}

.community-count-div span {
    font-size: 90px;
    font-weight: 700;
}

.community-count-div p {
    color: rgba(128, 128, 128, 0.8);
    font-size: 24px;
    margin-top: 10px;
    text-align: center;
}

.grow-together-section, .flowing-conversation-section, .your-user-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 300px;
    max-width: 1150px;
    margin-inline: auto;
}

.grow-together-text h2, .flowing-conversation-text h2, .your-user-text h2 {
    font-size: 42px;
    margin-bottom: 0;
}

.grow-together-text p, .flowing-conversation-text p, .your-user-text p {
    font-family: "Open Sans", serif;
}

.grow-together-text, .your-user-text, .flowing-conversation-text, .content-section .img-div img {
    max-width: 520px;
}

.content-section .text {
    font-size: 42px;
}

footer .img-div {
    margin-bottom: -10px;
}

.footer-div {
    background-color: hsl(192, 100%, 9%);
    color: white;
    font-family: "Open Sans", serif;
}

.footer-content-div {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1200px;
    margin-inline: auto;
}

.phone, .email, .sm-icon-div {
    display: flex;
    align-items: center;
    gap: 20px;
}

.email-div {
    gap: 40px;
    margin-top: 40px;
}

.email p {
    margin: 0;
}

.icon-div {
    display: flex;
}

.sm-icon-div {
    margin-block: 70px;
}

.huddle-div {
    margin-top: 100px;
}

.news-letter-div {
    margin-top: 88px;
}

.news-letter-text, .huddle-div {
    max-width: 370px;
}

.input-email {
    width: 300px;
    height: 48px;
    border-radius: 6px;
    border: none;
}

.subscribe-btn {
    font-family: "Open Sans", serif;
    background-color: hsl(322, 100%, 66%);
    border: none;
    color: white;
    padding: 14px 40px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 6px;
}